

.notification-nav {
  width: 100%;
  min-width: 250px;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 4px;
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.2);
}

.notification-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  justify-content: space-between;
  padding-bottom: 4px;
}




.notification-body {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

/* width */
.notification-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.notification-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notification-body::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 100px;
  transition: 0.1s ease-in-out;
}

/* Handle on hover */
.notification-body::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189);
  transition: 0.1s ease-in-out;
}

.notification-dropdown .notification-container {
  width: 100%;
  border-radius: 8px;
  height: auto;
  display: flex;
  transition: 0.1s ease-in-out;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
}

.notification-dropdown .notification-container.active {
  width: 100%;
  border-radius: 8px;
  height: auto;
  display: flex;
  transition: 0.1s ease-in-out;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  background: rgb(235, 235, 235);
  margin-bottom: 5px;
  align-items: flex-start;
}

.notification-dropdown .notification-container p.date {
  font-size: 11px;
  color: #808080;
}

.notification-dropdown .notification-details-active p.date {
  font-size: 11px;
  color: #176b29;
  font-weight: 600;
}

.notification-container:hover {
  transition: 0.1s ease-in-out;
  background: rgb(235, 235, 235);
}

.notification-avatar {
  width: 40px;
  height: 40px;
  background: #abe0ba;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f531e;
  font-size: 18px;
}

.notification-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #d3d3d3;
}

.notification-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.notification-details-active {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.notification-details-title {
  width: 100%;
}

.notification-dropdown .notification-details h1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #808080;
}

.notification-dropdown .notification-details-active h1 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #272727;
}

.notification-dropdown .notification-details-active p {
  font-size: 14px;
  color: #272727;
  font-weight:400;
}

.notification-dropdown .notification-details p {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.active-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background: #1ab462;
  position: absolute;
  top: 10px;
  right: 10px;
}


