.admin-user-no {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-user-hospital {
  min-width: 300px;
  display: flex;
  align-items: center;
  flex: 0.75;
}

.admin-user-spec {
  min-width: 200px;
  display: flex;
  align-items: center;
  flex: 0.5;
}

.admin-user-patients {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.admin-user-name {
  flex: 1;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.admin-user-name img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eee;
  border: 1px solid #d3d3d3;
  margin-right: 10px;
}

.table-body .admin-user-name p {
  cursor: pointer;
  color: rgb(45, 109, 206);
  height: 100%;
  display: flex;
  align-items: center;
}

.table-body .admin-user-name p:hover {
  text-decoration: underline;
}

.us-status {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body .us-status.online {
  color: #499c69;
}

.us-status p {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.us-status p.offline {
  background: #ffcb6a;
}

.us-status p.online {
  background: #4dd965;
}
