.popup-modal .password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.popup-modal .password-container.last {
  margin-bottom: 40px;
}

.popup-modal .password-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #272727;
}

.popup-modal .password-container label span {
  color: red;
  font-style: italic;
}

.popup-modal .password-container input {
  width: 100%;
  border: 1px solid #acacac;
  height: 35px;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}

.popup-modal .password-container input:focus {
  border: 1px solid #4b4b4b;
}
