.admin-sidebar {
  width: 70px;
  height: 100%;
  background: #0e1320;

  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  height: 70px;
  min-height: 70px;
  width: 100%;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.icon-container-active {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: #1f2942;
  color: #fff;
}

.icon-container:hover {
  background: #1f2942;
  transition: 0.1s ease-in-out;
}
.icon-container p {
  font-size: 11px;
  color: #506188;
  font-size: 10px;
  font-weight: 600;
}

.icon-container-active p {
  font-size: 11px;
  color: rgb(221, 221, 221);
  font-size: 10px;
  font-weight: 600;
}

.icon-container-active .icon {
  color: rgb(221, 221, 221);
  font-size: 18px;
}

.icon-container .icon {
  color: #506188;
  font-size: 18px;
}

.icon-container .icon {
  color: #506188;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .admin-sidebar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 60px;
    height: 60px;
    flex-direction: row;
    z-index: 2;
    overflow-y: hidden;
    padding: 0px;
  }
}

.icon-container {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.icon-container-active {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
}
