.delete-pending-user-modal {
  width: 95%;
  max-width: 500px;

  background: #fff;
  border-radius: 2px;
  padding: 15px;
  border-radius: 8px;
}

.delete-pending-user-modal h1 {
  color: #272727;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.delete-pending-user-modal p {
  color: #272727;
  font-size: 15px;
  margin-bottom: 40px;
}

.delete-pending-user-modal-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dpum-cancel-btn {
  border: none;
  outline: none;
  font-weight: 600;
  color: #272727;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dpum-cancel-btn:hover {
  transition: 0.1s ease-in-out;
  background: rgb(223, 223, 223);
}

.dpum-delete-btn {
  border: none;
  outline: none;
  font-weight: 500;
  color: #fff;
  padding: 8px;
  background: #ff3131;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 4px;
  display: flex;
}

.dpum-delete-btn-disable {
  border: none;
  outline: none;
  font-weight: 600;
  color: #fff;
  padding: 8px;
  background: #ff3131;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 4px;
  width: 120px;
  opacity: 0.5;
  pointer-events: none;
}

.dpum-delete-btn:hover {
  transition: 0.1s ease-in-out;
  background: #df2a2a;
}
